<div class="picker"> 
  <div text-center  *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <!-- role of button to make the image clickable -->
  <ion-img role="button" (click)="onPickLocation()" class="location-image" [src]="selectedLocationImage"  *ngIf="!isLoading && selectedLocationImage && showPreview"></ion-img>
 <ion-button color="primary" (click)="onPickLocation()"  *ngIf="(!selectedLocationImage  || !showPreview) && !isLoading">
   <ion-icon slot="start" name="map"></ion-icon>
   <ion-label>Select Location </ion-label>
  </ion-button>
</div>
